@model IEnumerable<webMitienda.contexto.tb_proveedores>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_proveedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_proveedor)
        </td>
        <td>
            @Html.ActionLink("Vender", "ventaProductos", new { id = item.id_proveedor }) |
            @Html.ActionLink("Editar", "Edit", new { id=item.id_proveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_proveedor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_proveedor })
        </td>
    </tr>
}

</table>
